<div class="boxy span6 offset3 text-center">

	<h1 class="custom-h1"> Dramatic Statement </h1>

	<br/>

	<h2> Let's Do This </h2>

	<br/>

<%= link_to 'launch my app' , '#' , :class => 'btn btn-warning btn-large' %>

</div>